* {
    box-sizing: border-box;
    margin: 0;
}

/** Barra de navegacion */
header {
    position: sticky;
    top: 0;
    z-index: 15;
}

.navbar {
    padding: 2rem;
    font-size: 1.4rem;
    background-color: #04befce3;
     

}

.navbar-nav {
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    gap: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    color: white
}

.navbar-nav:hover .nav-item .nav-link {
    color: #ee6b0d;
}
.navbar-nav:hover .nav-item .nav-link:not(:hover){
    color: rgb(248, 248, 248);
    opacity: 0.3;
    filter: blur(.5px);
}

.navbar-collapse {
    align-items: center;
    justify-content: space-around;
}
/*****************************/


/** slider principal*/
.carousel-caption {
    background-color: #ffffff5a;
    border-radius: 14px;
    color: black;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-caption h5 {
    font-size: 3.5rem;
    font-family: 'Bebas Neue', cursive
}

.carousel-caption p {
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

/******************************/

/** Seccion valores */
.historia .row {
    /* background: #008cbd; */
    background: #3ba6cc;
    border-radius: 5px;
    border: 3px solid white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.historia .row p {
    font-family: 'Montserrat', sans-serif;
}

.container-valores .items {
    border-radius: 5px;
    border: 3px solid white;
    /* background: #008cbd; */
    background: #3ba6cc;
    transition: all 0.2s ease-in;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}
.container-valores h4{
    letter-spacing: 2px;
}
.container-valores img{
    filter: drop-shadow(8px 8px 4px #070707);
}
.items:hover {
    /* background: #d7dcdb; */
    background: rgba(72, 207, 231, 0.663);
    border-radius: 15px;
    color: rgb(51, 51, 51);
    transform: scale(0.9);
}

/** boton de descarga resolucion */
.btn-descarga {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-radius: 5px;
    /* border: 3px solid white; */
    text-decoration: none;
    color: white;
    /* transition: all .1s ease-in; */
}

.btn-descarga:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
    transform: scale(1.05);
}

/**************************/

/**Servicios 2 */
.slider-servicios {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* background: #008cbd; */
    background: #3ba6cc;
    
    margin: 0 auto;
}

.container-miduv {
    display: flex;
    height: 400px;
}

.container-card {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    margin: 0 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container-card .card h4 {
    display: none;
    padding-top: 50%;

}

.container-card .card-1 {
    background-image: url(img-figma/carga1.jpeg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.container-card .card-2 {
    background-image: url(img-figma/servicio-turbo.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.container-card .card-3 {
    background-image: url(img-figma/servicio-patineta.jpeg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.container-card .card-4 {
    background-image: url(img-figma/servicio-furngon.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.container-card .card-5 {
    background-image: url(img-figma/img-6.jpeg);
    background-position: 40%;
    background-size: cover;
    height: 400px;
}

.container-card:hover {
    height: 100%;
    width: 250px;
    opacity: 1;
    border: 4px solid #ffffff;
    border-radius: 10px;
    filter: contrast(100%);
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    color: white;
}


.container-servicios .row {
    /* background: #000; */
    display: flex;
    justify-content: space-evenly;
    margin: 50px 10px;
}

.container-servicios .card {
    margin: 15px 0;
    background: #c2e3ed4b;
}

.container-servicios .card-body p {
    font-family: 'Montserrat', sans-serif;

}

.card img {
    object-fit: cover;
    height: 300px;
    padding: 10px 0;
}

.container-OET {
    background: #39a6cb;
    padding: 20px;
    margin: 0 10px;
    border-radius: 5px;
}

.container-OET .texto-oet {
    background-image: url(iconos/estas_listo-oet.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    padding-top: 20%;
    font-size: 1.2rem;
    font-weight: bold;
}

.container-OET .video-oet {
    background: transparent;
    border-radius: 5px;
    border: 3px solid white;
}

.container-rit {
    margin: 10px 10px;
}

.container-rit .card {
    height: 100%;
    background: transparent;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.209);
    border: none;
}

.container-rit .card img {
    object-fit: contain;
}

/***********************************/

/***seccion-monitoreo */
.seccion-monitoreo {
    /* background: #008cbd; */
    background: #3ba6cc;

}

.seccion-monitoreo div {
    margin: 0 auto;
}

.container-monitoreo {
    /* background: #d98080; */
    display: flex;
    justify-content: center;
}

.container-monitoreo img {
    filter: drop-shadow(8px 8px 4px #070707);
    transform: scale(1.3);
}

.container-slider-2 {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    background: #fdfdfd;
}

.container-slider-2 .slide-track-2 {
    display: flex;
    -webkit-animation: scroll 25s linear infinite;
    animation: scroll 60s linear infinite;
    width: calc(350px*18);
}

.slider {
    width: 100%;
    height: 200px;
    margin: 0 3px;
    padding: 3px 0;
}

.slider img {
    width: 100%;
    height: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        trasform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-350px*9));
        trasform: translateX(calc(-350px*9));
    }
}
/***********************************/
@media screen and (max-width: 1000px) {
    .container-monitoreo img {
        transform: scale(1.1);

    }
}


/** Seccion galeria principal */
.galeria {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* background: #008cbd; */
    background: #3ba6cc;
    font-family: sans-serif;
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
}
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #41c5e9;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    filter: opacity(0.9);
    /* border: solid 1px; */
}
.grid-item:hover {
    transform: scale(1.04);
    filter: opacity();
}

.grid-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

.grid-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width:600px) {
    .wide {
        grid-column: span 2;
    }

    .tall {
        grid-row: span 2;
    }
}
/***********************************/

/** galeria secundaria */
.galeria-2{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
    background: #3ba6cc;

}
.titulo-galeria{
    text-align: center;
    padding: 20px 0;
}
.linea{
    background: #f17d09;
    height: 5px;
    width: 100%;
    display: block;
}
.galeria-2 img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}
.galeria-2 > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.galeria-2 a:hover img{
    filter: blur(2px);
    transform: rotate(10deg)scale(1.3);
}
.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform .3s ease-in-out;
}
.light-box img{
    width: 70vw;
    max-height: 75vh;
    object-fit: contain;
}
.light-box:target{
    transform: scale(1);
}
.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    /* background: #18c4b3; */
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 1.3rem;
}
.next{
    display: block;
    /* background: #18c4b3; */
    color: white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;

}
/********** seccion pagos **********/
.seccion-pagos {
    /* align-items: center; */
    display: flex;
    background-image: url(fondos/hombre-negocios-mensajes-texto-aplicacion-telefono-movil-azul.jpg);
    background-size: cover;
    background-position: center;
    margin: 40px auto;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.container-pagos {
    margin: 15px auto;
    text-align: center;
    width: 90%;
}

.icono-pagos img {
    max-height: 300px;
}

.icono-contacto {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background: rgba(255, 255, 255, 0.313);

    border-radius: 1em;
    margin: 15px auto;
}

.icono-contacto h5,
a {
    font-weight: bold;
}

.icono-contacto img {
    margin: 10px 0;
    width: 40px;
    height: 40px;
    margin-right: .5rem;
}

.enlace-pagos {
    margin: 10px 0;
    text-decoration: none;
    font-size: 1.2em;
    transition: all .2s ease-in-out;
}

.enlace-pagos:hover {
    transform: scale(1.1);
}

/************************************/


/*****seccion ubicacion */
.seccion-ubicacion {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* background: rgb(17, 220, 213); */
    padding: 20px;
    background: #3ba6cc;
    /* background: #008cbd; */

}

.container-mapa iframe {
    background: rgba(255, 255, 255, 0.313);
    border-radius: 15px;
    padding: 15px;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    align-items: end;

}

.container-mapa iframe:hover {
    transform: scale(1.2);
}

.container-mapa h6 {
    /* background: rgb(119, 20, 190); */
    margin-top: 40px;
}

/************************************/


/** Seccion colaboradores */
.colaboradores {
    padding: 40px 0;
    background: #3ba6cc;
    /* background: #008cbd; */
}

.colaboradores img {
    height: 100%;
    width: 100%;
    margin: 20px 0;
    display: block;
    transition: all 0.2s ease;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.contacto-colaborador {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.contacto-colaborador:hover img {
    opacity: 0.5;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.059) 0px 3px 8px;
    border-radius: 5px;
}

.contacto-colaborador:hover .overlay {
    opacity: 1;
}

.iconos-contacto a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.iconos-contacto img {
    width: 40px;
    height: 40px;
    margin: 0 30px;
    filter: contrast(100%);
    transform: scale(1.1);
    margin: 0 25px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    transition: all 0.1s ease-in-out;
}

.iconos-contacto:hover img {
    opacity: 1;
    transform: scale(1.3);
}

/***********************************/



/** Seccion carusel comentarios */
.testimonios {
    padding: 40px 40px 100px 40px;
}

.testimonios .carousel {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* background: #008cbd; */
    background: #3ba6cc;
    border-radius: 15px;
}

.carousel-item {
    height: 550px;
}

.carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .testimonio-imagen {
    width: 100px;
    height: 100px;
    margin: 10px 10px 20px 10px;
}

.testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
}
/****************************/

/*** Seccion slider-clientes */
.container-slider {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    background: #fdfdfd;
}

.container-slider .slide-track {
    display: flex;
    -webkit-animation: scroll 25s linear infinite;
    animation: scroll 60s linear infinite;
    width: calc(200px * 40);
}

.slider {
    width: 800px;
    height: 200px;
    margin: 0 3px;
    padding: 3px 0;
}

.slider img {
    width: 100%;
    height: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        trasform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px*20));
        trasform: translateX(calc(-200px*20));
    }
}

/*****************************/


/***********footer**********/
.seccion-footer {
    background: #089fe0;
}

.form {
    background: rgba(255, 255, 255, 0.209);
    width: 100%;
    height: 90%;
    max-width: 500px;
    border-radius: 1em;
    padding: 1.5em 1em;
    margin: 20px auto;
}

.form__container {
    width: 100%;
    display: grid;
    gap: .5em;
    grid-auto-columns: 100%;
    /* background-color: #30cfd0; */
}

.form__input {
    font-size: 1rem;
    outline: none;
    border: none;
    padding: .2em 1em;
    border: 1px solid #bbb0b0;
    border-radius: 0.2rem;
}

.form__input--message {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.form__cta {
    font-size: 1rem;
    background-color: #089fe0;
    color: white;
    border: none;
    font-weight: 400;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
}

/***************************/

/** calendario */
.calendar {
    background: rgba(255, 255, 255, 0.209);
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.calendar__info {
    display: flex;
    align-items: center;
    padding: 0 2em;
    font-size: 1.2em;
    text-transform: uppercase;
}

.calendar__next,
.calendar__prev {
    cursor: pointer;
    font-size: 1.8em;
}

.calendar__month,
.calendar__year {
    margin: 0 0.5em;
}

.calendar__prev {
    margin-right: auto;
}

.calendar__next {
    margin-left: auto;
}

.calendar__week,
.calendar__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.calendar__item {
    text-align: center;
    line-height: 2;
}

.today {
    background: #0000006e;
    color: white;
    width: 77%;
    border-radius: 50%;
    margin: auto;
}

.calendar__last-days {
    opacity: .3;
}

/***************************/


/**lista contactos */
.container-iconos {
    background: rgb(255, 255, 255);
    border: 1px solid #bbb0b0;
    border-radius: 0.2rem;
    margin: 5px 0;
}

.container-iconos a {
    text-align: center;
    padding: 5px;
    margin: 0;
    text-decoration: none;
    color: rgba(108, 108, 108, 0.741);
    transition: all 0.1s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

.container-iconos a:hover {
    font-size: 1rem;
    color: #089fe0;
}
/***************************/


/** base-footer */
.base-footer {
    padding: 40px 0;
    background-color: #dc9410;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }

    header {
        position: relative;
    }

    .container-monitoreo img {
        transform: scale(1.2);
    }

    .navbar {
        background-color: #008cbd;
    }
}

@media screen and (max-width: 800px) {
    .testimonio-imagen {
        height: 110px;
        width: 110px;
    }

    .testimonio-texto {
        font-size: 18px;
        max-width: 90%;
        /* background: rgb(119, 62, 62); */
    }

    .testimonios {
        min-width: 100%;
        /* background-color: yellow; */
    }

    .carousel-item {
        height: 550px;
    }
}


/** Estilos generales */
.titulos {
    font-size: 3rem;
    text-transform: capitalize;
    font-family: 'Bebas Neue', cursive;
}

.parrafos {
    width: 70%;
    margin: .8rem auto;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

.dim-secciones {
    max-width: 95%;
    padding: 10px;
    margin: 0px auto 40px auto;
    border-radius: 5px;
    border: 3px solid white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.letra-titulos {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8rem;
}

.letra-textos {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.05rem;
}

/******************************/