body {
    background-color: #3a3636;
}

header {
    background-color: rgb(200, 39, 39);
}

/** Barra de navegacion */
.navbar-collapse {
    align-items: center;
    justify-content: space-around;
    /* background: #000; */
}

.navbar-nav .nav-link {
    margin: 0 15px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Fira Sans', sans-serif;
    transition: all .3s ease-in;
    /* background: green; */
}

.nav-item .nav-link {
    text-transform: capitalize;
    font-family: 'Bebas Neue', cursive;
}

.navbar-nav .nav-link:hover {
    border-bottom: 4px solid orange;
    transform: scale(1.1);
    font-weight: bold;
}

/*****************************/

/** slider principal*/
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-caption h5 {
    font-size: 3.5rem;
    font-family: 'Bebas Neue', cursive
}

.carousel-caption p {
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
}

/******************************/

/** Seccion nuestra empresa */
.parrafo-descripcion {
    width: 70%;
}

/****************************/


/** Seccion valores */
.container-valores .row {
    display: flex;
    justify-content: space-evenly;
}

.container-valores .items {
    /* background-color: rgb(10, 148, 223); */
    border: transparent;
    padding: 15px;
    margin: 8px;
    transition: all 0.2s ease-in;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.items:hover {
    background: #d7dcdb;
    border-radius: 15px;
    color: white;
    transform: scale(1.1);
}

/**************************/

/** Seccion servicios */
.seccion-servicios {
    padding: 40px;
}

.container-miduv {
    display: flex;
    height: 430px;
}

.container-card {
    width: 0;
    flex-grow: 1;
    border-radius: 15px;
    opacity: .8;
    transition: .5s ease;
    margin: 0 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container-card .card-1 {
    background-image: url(img-figma/camion-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    height: 430px;
}

.container-card .card-2 {
    background-image: url(img-figma/camion-2.jpg);
    background-position: center;
    background-size: cover;
    height: 430px;
    border-radius: 15px;
    text-align: center;
}

.container-card .card-3 {
    border-radius: 15px;
    background-image: url(img-figma/camion-3.jpg);
    background-position: center;
    background-size: cover;
    height: 430px;
    text-align: center;
}

.container-card .card-4 {
    border-radius: 15px;
    background-image: url(img-figma/camion-4.jpg);
    background-position: center;
    background-size: cover;
    height: 430px;
    text-align: center;
}

.container-card .card-5 {
    border-radius: 15px;
    background-image: url(img-figma/transp3.jpg);
    background-position: center;
    background-size: cover;
    height: 430px;
    text-align: center;
}

.container-card:hover {
    height: 100%;
    width: 250px;
    opacity: 1;
    filter: contrast(90%);
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container-card h4 {
    color: white;
    text-align: center;
    padding-top: 50%;
    font-size: 3rem;
}

/***********************************/


/** Seccion colaboradores */
.colaboradores {
    padding: 40px 0;
    /* background-color: #656060; */
}

.colaboradores img {
    height: 100%;
    width: 100%;
    margin: 20px 0;
    display: block;
    transition: all 0.2s ease;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.contacto-colaborador {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.contacto-colaborador:hover img {
    opacity: 0.5;
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.059) 0px 3px 8px;
    border-radius: 5px;
}

.contacto-colaborador:hover .overlay {
    opacity: 1;
}

.iconos-contacto a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.iconos-contacto img {
    width: 40px;
    height: 40px;
    margin: 0 30px;
    filter: contrast(100%);
    transform: scale(1.1);
    margin: 0 18px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    transition: all 0.1s ease-in-out;

}

.iconos-contacto:hover img {
    opacity: 1;
    transform: scale(1.3);
}

/***********************************/




/** Seccion carusel comentarios */
.testimonios {
    padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
    max-width: 800px;
    margin: 0 auto;
}

.carousel-item {
    height: 500px;
}

.carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .testimonio-imagen {
    width: 150px;
    height: 150px;
    margin: 10px 10px 20px 10px;
}

.testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
}

/*******************/


/** Seccion Contacto*/
.seccion-contacto {
    height: 200px;
    color: white;
    /* background: #6be8e1; */
}

.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo {
    margin-top: -4rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    /* border: 2px solid white; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion {
    color: white;
    font-size: 1.2rem;
}

.btn_center {
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.5em 2em;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 0px 15px 18px -6px rgba(35, 22, 214, 0.65);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    position: relative;
}

.contacto .btn_center i {
    color: white;
    font-size: 1.3rem;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}

.btn_center:hover {
    background-color: #051749;
    box-shadow: 0px 22px 19px -8px rgba(16, 8, 119, 0.65);
    transform: scale(1.02, 1.02);
}

.btn_center:active {
    background-color: #051749;
    box-shadow: 0px 12px 18px -4px rgba(7, 4, 51, 0.65);
    transform: scale(0.95, 0.95);
    transition: all 0.4s -0.125s;
}

/*******************/





/***********footer**********/
.div {
    /* background: #000; */
    border: 2px solid white;
}

.seccion-footer {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.form {
    background: #fff;
    width: 90%;
    /* max-width: 600px; */
    border-radius: 1em;
    padding: 3em 1.5em;
    margin: 20px auto;
}

.form__container {
    width: 100%;
    display: grid;
    gap: .5em;
    grid-auto-columns: 100%;
    /* background-color: #30cfd0; */
}

.form__input {
    font-size: 1rem;
    outline: none;
    border: none;
    padding: .2em 1em;
    border: 1px solid #bbb0b0;
    border-radius: 0.2rem;
}

.form__input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}
.form__cta{
    font-size: 1rem;
    background-color: #089fe0;
    color: white;
    border: none;
    font-weight: 400;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
}
/***************************/

/** base-footer */
.base-footer{
    height: 100px;
    background-color: #051749;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}


@media screen and (max-width: 800px) {
    .testimonio-imagen {
        height: 110px;
        width: 110px;
    }

    .testimonio-texto {
        font-size: 18px;
        max-width: 90%;
        /* background: rgb(119, 62, 62); */
    }

    .testimonios {
        min-width: 100%;
        /* background-color: yellow; */
    }

    .carousel {
        width: 310px;
        /* background: rgb(30, 30, 30); */
    }

    .carousel-item {
        height: 550px;
    }
}




/** Estilos generales */
.carousel {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;

}

.titulos {
    font-size: 3rem;
    text-transform: capitalize;
    font-family: 'Bebas Neue', cursive;

}

.parrafos {
    width: 70%;
    margin: .8rem auto;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;

}

.dim-secciones {
    width: 80%;
    padding-bottom: 40px;
    margin: 0 auto;
}

.letra-titulos {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8rem;
}

.letra-textos {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

/******************************/